/*
	Use for in-browser wireframing layout from design.
*/
//		@include j-edit(#666, true);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*
	START:::: needed for proper base sticky-footer
	+ better to extend the following, rather than edit directly.
*/
.scroll-wrapper {
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch; // ensure smooth scrolling on iOS
}

.site-wrapper {
    overflow-x: hidden;
    background: $base-color;
    width: 100%;
    height: 100%; // important for footer to touch bottom if page content is short.
}

/*
	houses all content EXCEPT for .footer.
*/
.layout-wrapper {
    height: auto;
    min-height: 100%;
}

.layout {
    position: relative;
    margin: 0 auto;
}

@include sticky-footer($footer--height, ".layout-wrapper", ".layout_footer", ".footer");

/*
	END::: needed for proper base sticky-footer
*/

/*
	BASE LAYOUTS:
*/

.header {
    position: relative;
    margin: 0 auto;
    height: $header--height;
    width: $header--width;
}
.footer {
    margin:0 auto;
    width: $footer--width;
}


/*
	Customize Below
*/
.layout {
	padding:$layout--padding;
    max-width: $layout-width;
    /*
    useful if .layout-content is absolutely positioned. (ex:v-aligned content)
     */
    min-height: 765px;
}